<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("sample_app"), root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t("home"), home_path %></li>
        <li><%= link_to t("help"), help_path %></li>
        <li><%= link_to t("login"), "#" %></li>
        <li><%= link_to "English", locale:"en" %></li>
        <li><%= link_to "Vietnamese", locale:"vi" %></li>
      </ul>
    </nav>
  </div>
</header>
